<a href="https://colab.research.google.com/github/Bramhaja/Demo-Python/blob/main/Python_for_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I want to print the hello world program

In [ ]:
"""ueiwuoi"""
print("gdhsdj")
#jshdkja

gdhsdj

adding program

In [ ]:
4774374837-774832784927

-770058410090

In [ ]:
!python --version

Python 3.12.12

In [ ]:
aruna_id = "892138"
print(aruna_id)

892138

In [ ]:
7hari = 10,"hari","783","gaha"
print(7hari)

SyntaxError: invalid decimal literal (ipython-input-1461869125.py, line 1)

In [ ]:
""Author Daniel
Project Python project
Location Bengaluru""
print("Welcome to python programming")

# single line comments

SyntaxError: invalid syntax (ipython-input-2972420479.py, line 1)

In [ ]:
VALUEID = 10
print(valueid)

10

In [ ]:
valueid = 10
print(VALUEID)

10

In [ ]:
HARIID = 100
print(HARIID)

100

In [ ]:
name = "yesh"
age = 20
print("name =",name,"\nage =",age)

name = yesh
age = 20

In [ ]:
sal = 10000
sal = 20000
print(sal)

20000

Data Type

In [ ]:
s = 70000.0
print(s)
print(type(s))

70000.0
<class 'float'>

In [ ]:
a = True
b = False
c = None

print(a)
print()
print(b)
print()
print(c)

True

False

None

In [ ]:
name1 = 'swetha'
name2 = "swetha"
name3 = """swetha"""
name4 = '''swetha'''

print(type(name1))
print(name2)
print(name3)
print(name4)
print(name)
print(name)

<class 'str'>
swetha
swetha
swetha
swetha
swetha

In [ ]:
values1 = {10:"bamhaja",23:"neha",45:"swetha",67:"hari"}
values2 = {10,23,45,67}
values3 = [10,23,442,32]
values4 = (10,23,442,32)
print(type(values2))
print(type(values4))
print(type(values3))
print(type(values1))

<class 'set'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [ ]:
r = range(5,10)
for value in r:
 print(value)

5
6
7
8
9

In [ ]:
a = 10
print(a)

a += 5
print(a)

a -= 5
print(a)

a *= 5
print(a)

a /= 5
print(a)

a **= 5
print(a)

a %= 5
print(a)

10
15
10
50
10.0
100000.0
0.0

In [ ]:
 a = 100
 b = 200
 print(b>a)

100

In [ ]:

print("you entered name as:")

you entered name as:

In [ ]:
name = input("Enter the name:")
salary = input("Enter salary:")

print("type is: ", type(name))
print("type is: ", type(salary))

Enter the name:Bramhaja
Enter salary:1000000
type is:  <class 'str'>
type is:  <class 'str'>

In [ ]:
a = "swetha"
print(a)
print(type(a))

b = str(a)
print(b)
print(type(b))

swetha
<class 'str'>
swetha
<class 'str'>

In [ ]:
a = input("Enter a value in the format key:value,key:value :")

print("Your value is:", a)

print("data type is:", type(a))

# Split the string by comma to get key-value pairs
pairs = a.split(',')

# Create an empty dictionary
b = {}

# Iterate through the pairs and add them to the dictionary
for pair in pairs:
    # Split each pair by colon to get key and value
    key_value = pair.split(':')
    if len(key_value) == 2:
        # Convert key to integer and add to dictionary
        b[int(key_value[0])] = key_value[1]
    else:
        print(f"Skipping invalid pair: {pair}")

print("After converting the value is:", b)
print("data type is:", type(b))

Enter a value in the format key:value,key:value :10:bramhaj,23:uma
Your value is: 10:bramhaj,23:uma
data type is: <class 'str'>
After converting the value is: {10: 'bramhaj', 23: 'uma'}
data type is: <class 'dict'>

In [ ]:
a = 10000.45
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

10000.45
<class 'float'>
10000
<class 'int'>

In [ ]:
p1 = input("Enter First product price:")
p2 = input("Enter Second product price:")

a = int(p1)
b = int(p2)


print("Total price is:",a+b)

Enter First product price:10000
Enter Second product price:10000
Total price is: 20000

In [ ]:
p1 = input("Enter First product price:")
p2 = input("Enter Second product price:")

a = int(p1)
b = int(p2)

print("Total price is:",a+b)

Enter First product price:24
Enter Second product price:24
Total price is: 48

In [ ]:
a = 10
print(a)

10

In [ ]:
print("hii kerthi")
print(7234782)

hii kerthi
7234782

In [ ]:
x = 1
y = 7

print(x == y)

if x==y:
    print("x is equal to y")
else:
    print("x is not equal to y")

False
x is not equal to y

In [ ]:
x = 1
y = 0
print("x==y value is: ", (x==y))
if x != y:
    print("if block statements executed")
print("out of if block statements")

x==y value is:  True
out of if block statements

In [ ]:
print()
x = int(input("Enter a number: "))
if x >= 0:
 print("You entered:", x)
if x == 1:
 print("You entered:", x)
elif x <= 1:
 print("You entered:", x)
else:
 print("Beyond the range than specified")

Enter a number: 45
You entered: 45
Beyond the range than specified

In [ ]:
val = {10,20,30,40,"Uma","Swetha","Keerthi"}

for value in val:
    print(val)

print(type(val))

IndentationError: expected an indented block after 'for' statement on line 3 (ipython-input-4218334470.py, line 4)

In [ ]:

print("sdjlhlkjdahskjld")

sdjlhlkjdahskjld